body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  text-align: center;
  background: #e8e8e8;
  color: black;
}

#home {
  /* display: block; */
  position: relative;
  height: 100vh;
  width: 100%;
  /* background-color: rgb(255, 255, 255); */
}

.Ideas-container {
}

.Ideas-image {
  margin-bottom: 10%;
}

.Ideas-text {
  margin-bottom: 5%;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  cursor: pointer;
}

.Home {
  background: white;
  height: 100%;
}

#name-desc {
  font-family: 'Roboto', sans-serif;
  /* letter-spacing: -4px; */
  font-size: 52px;
  /* font-weight: bold; */
  margin-bottom: -22px;
  /* color: rgb(63,81,181); */
  color: black;
}

#lower-desc {
  font-family: 'Roboto', sans-serif;
  /* letter-spacing: -2px; */
  font-size: 30px;
  /* font-weight: bold; */
  /* color: rgb(63,81,181); */
  color: black;
}

/* .bottom-nav {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
} */

#down {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  bottom: 0;
  margin-bottom: 2%;
  transform: rotate(45deg);
}

#down:hover {
  border: solid #fed766;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  bottom: 0;
  margin-bottom: 2%;
  transform: rotate(45deg);
  transition: all 0.1s ease-in;
}

/* #nav-options {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  bottom: 0;
  left: 0;
  height: 15%;
  width: 100vw;
  background-color: rgba(71, 71, 71, 0.7);
} */

#about {
  /* content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  position: relative;
  /* background-color: rgb(33,150,243); */
}

#portfolio {
  background-color: rgba(232, 232, 232, 1);
  color: white;
}

#contact {
  background-color: white;
}

.contact-title {
  color: black;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: -1px;
}

#page-title {
  font-family: 'Roboto', sans-serif;
  padding-top: 3%;
  /* font-weight: bold; */
  font-size: 2em;
  /* letter-spacing: -2px; */
  color: #252a30;
}

#page-info {
  /* font-weight: 200; */
  /* color: gray; */
  /* letter-spacing: -0.5px; */
  font-family: Raleway;
}

.page-wrapper {
  /* padding: 0 5%; */
  position: relative;
  width: 100%;
  height: 100%;
}

.contact-wrapper {
  padding: 2% 0;
}

.contact-wrapper a {
  padding-right: 1%;
}

.Info-container {
  margin-top: 3%;
}

.Portfolio a {
  color: #252a30;
  /* text-decoration: none; */
  letter-spacing: -1px;
  transition: all 0.3s ease-in;
}

.Portfolio h1 {
  margin-bottom: 0px;
}
